Adding a feed which returns a http 302 redirect does not work

Attempting to add a URL via http or no protocoll specified results in a message "Feed not found".
Expected behaviour: the 302 message is followed.

Example url:
http://warnung.bund.de/bbk.mowas/rss/091620000000.xml

```
> GET /bbk.mowas/rss/091620000000.xml HTTP/1.1
> Host: warnung.bund.de

< HTTP/1.1 302 Moved Temporarily
< Content-Type: text/html
< Date: Thu, 05 Sep 2019 16:22:50 GMT
< Location: https://warnung.bund.de
< Connection: Keep-Alive
< Content-Length: 0
```

The https must be manually added to make it work.

The feed finder is actually working properly. The problem is that https://warnung.bund.de/ does not have any links to any feeds, so when the feed finder tries to find a feed on that page, it fails.

I think you misunderstood something here. The feed finder should not attempt to search the root directory but follow the redirect, when a redirect is returned.

This works in NetNewsWire:
https://warnung.bund.de/bbk.mowas/rss/091620000000.xml
This does not (returns 302):
http://warnung.bund.de/bbk.mowas/rss/091620000000.xml


You’re right, except that here’s the problem:

The redirect does not go to the https version of that URL. It does *not* redirect to https://warnung.bund.de/bbk.mowas/rss/091620000000.xml

Instead, it redirects to https://warnung.bund.de

Note the Location header in the returned response:

```HTTP/1.1 302 Moved Temporarily
Content-Type: text/html
Date: Sat, 07 Sep 2019 01:08:36 GMT
Location: https://warnung.bund.de
Connection: Keep-Alive
Content-Length: 0
```

Thank you. I found the core of the confusion. The specific web server is not properly configured. I used Safari and it does not follow [RFC 7230 section 5.5](https://tools.ietf.org/html/rfc7230#section-5.5). Therefore, I assumed NNW to behave as Safari does.